h1{
  color:#black;
  font-family: cursive;
}
button {
  background-color: teal;
  font-family: fantasy;

}
body{
  color:#black;
  font-style:italic;

}
div{
  border:groove 4px black;
}
img{
  width:140px;
}
